* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #1c2230;
    color: #ffffff;
    font-family: 'Dubai-Medium', sans-serif;
    src: url(//cdn.rawgit.com/rtaibah/dubai-font-cdn/master/dubai-font.css);
}
p {
    margin: 0;
    padding: 0;
    color: #f6fbff;
    font-size: 14px;
    line-height: 150%;
}

ul {
    list-style-type: none;
}
ul li {
    text-decoration: none;
}

div.container {
    max-width: 1400px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
div.header {
    padding: 20px;
    display: flex;
}

nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}


div.main {
    margin-top: 25px;
}

div.intro {
    text-align: center;
    background-image: url(assets/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}
img.introimg {
    margin-bottom: 20px;
}
div.intro h1 {
    line-height: 150%;
}
div.intro p {
    line-height: 140%;
    font-weight: 400;
}

button.button {
    border: none;
    color: #ffffff;
    background-color: #4ec3d4;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
}
button.rbutton {
    border-radius: 12px;
}

div.mains {
    padding-top: 60px;
    background-color: #181e2a;
}
div.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    text-align: center;
}
div.f1 {
    width: 500px;
    line-height: 150%;
}



div.access h3 {
    margin-top: 25px;
}
div.security h3 {
    margin-top: 16px;
}
div.collab h3 {
    margin-top: 20px;
}
div.store h3 {
    margin-top: 27px;
}
div.row h3 {
    margin-bottom: 10px;
}

div.second {
    padding-top: 60px;
    background-color: #181e2a;
}
div.seconds {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}
div.s1 {
    width: 500px;
}
div.staytext {
    text-align: left;
    padding-top: 90px;
}
div.staytext p.cap {
    margin-bottom: 20px;
}

div.review {
    padding-top: 60px;
    background-color: #181e2a;
}

div.rev-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    z-index: 1;
    position: relative;
    bottom: 13px;
    right: 25px;
}
div.box {
    width: 400px;
    line-height: 140%;
    background-color: #1c2230;
    padding: 30px;
}
div.box p {
    font-size: 12px;
}
div.box p.founder {
    font-weight: 600;
}
div.box img {
    border-radius: 50%;
}
div.profile {
    overflow: hidden;
}
div.prof {
    float: left;
    width: 10%;
    text-align: center;
}
div.person {
    float: left;
    width: 90%;
}

div.early-box {
    background-color: #181e2a;
    text-align: center;
    padding-top: 60px;
    margin-bottom: -90px;
}
.info-email {
    width: 60%;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
}
::placeholder {
    color: lightgray;
    background-color:#ffffff;
    opacity: 1;
}
:-ms-input-placeholder {
    color: lightgray;
}
::-ms-input-placeholder {
    color: lightgray;
}
div.email-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    z-index: 1;
    position: relative;
}
div.emaili {
    width: 60%;
    line-height: 150%;
    background-color: #1c2230;
    padding: 30px;
    border: 1px solid #1c2230;
    box-shadow: 3px 3px #1c2230;
}

div.footer {
    padding-top: 120px;
    padding-bottom: 50px;
    background-color: #0c1524;
    overflow: hidden;
    font-size: 12px;
}
div.footer-info {
    overflow: hidden;
    padding-left: 80px;
}
div.logo {
    padding-left: 80px;
    margin-bottom: 20px;
}
div.loca {
    float: left;
    width: 20%;
}
div.loca p {
    float: left;
    width: 90%;
    font-size: 12px;
}
div.contact {
    float: left;
    width: 40%;
    padding-left: 150px;
}
div.call, div.email {
    overflow: hidden;
}
div.image {
    float: left;
    width: 10%;
}
div.ephone {
    float: left;
    width: 90%;
}
div.one-bnav {
    float: left;
    width: 10%;
}
div.two-bnav {
    float: left;
    width: 10%;
}
div.footer li {
    margin-bottom: 10px;
}
div.socials {
    float: left;
    width: 20%;
}
div.socials a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
}
div.socials i {
    border: 1px solid white;
    border-radius: 50%;
    font-size: 16px;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    div.loca, div.contact, div.one-bnav, div.two-bnav {
        width: 100%;
    }
    div.contact {
        padding-left: 0;
    }
    div.footer-info {
        padding-left: 5px;
    }
    div.logo {
        padding-left: 5px;
    }
    div.logo img {
        width: 30%;
    }
    div.emaili {
        padding: 10px;
        width: 80%;
        box-shadow: none;
        border-radius: 10px;
    }
    .info-email {
        width: 100%;
    }
    button.button {
        margin: 5px 0;
        padding: 15px 50px;
        font-size: 11px;
    }
}